* {
  box-sizing: border-box;
}

header,.main, footer{
    /*background #ffff;*/
    background:#ffff;
    word-break: 90%
 } 

header nav{
        background: #528fd5;
        overflow: hidden;
 }
 /**/
  header nav ul{
     list-style: none;

  } /**/
  header nav ul li{
    float: left;
  }/**/
  header nav ul li a{
    padding: 20px 30px;
    display:  block;
    color: orange;
    text-decoration: none; 

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.menu {
  float:left;
  width:40%;
  text-align:center;

}
.menu a {
 background-color:#e5e5e5;
  padding:9px;
  margin-top:27px;
  display:block;
  width:100%;
  color:pink;
  }
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
header,.main, footer{
    /*background #ffff;*/
    background:#ffff;
    word-break: 90%
 } 
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:25px;
  margin-top:9px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

